---
layout: default
---

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="pull-left">{{ page.title }}</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="">Home</a></li>
      <li><a href="">Free Resources</a></li>
      <li><a href="">Whitepapers</a></li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container content">
  <div class="row portfolio-item margin-bottom-50">

    <!-- Carousel -->
    <div class="col-md-7">
      <div class="carousel slide carousel-v1" id="myCarousel">
        <!-- <div class="carousel-inner"> -->
          <div class="item active">
            <img class="img-responsive img-bordered" src="{{ site.url }}/assets/img/whitepapers/{{ page.largeImage }}">
          </div>
        <!-- </div> -->
        <!-- <div class="carousel-arrow">
          <a data-slide="prev" href="#myCarousel" class="left carousel-control">
            <i class="fa fa-angle-left"></i>
          </a>
          <a data-slide="next" href="#myCarousel" class="right carousel-control">
            <i class="fa fa-angle-right"></i>
          </a>
        </div> -->
      </div>
    </div>
    <!-- End Carousel -->

    <!-- Content Info -->
    <div class="col-md-5">
      {{ content }}
      <!--
      <form action="" method="post" enctype="multipart/form-data" id="sky-form1" class="sky-form" novalidate="novalidate">

        <div class="row">
          <section class="col col-6">
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" name="firstname" placeholder="FirstName">
            </label>
          </section>
          <section class="col col-6">
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" name="lastname" placeholder="LastName">
            </label>
          </section>
        </div>

        <div class="row">
          <section class="col col-6">
            <label class="input">
              <i class="icon-append fa fa-envelope"></i>
              <input type="email" name="email" placeholder="E-mail">
            </label>
          </section>
          <section class="col col-6">
            <label class="input">
              <i class="icon-append fa fa-phone"></i>
              <input type="tel" name="phone" placeholder="Phone">
            </label>
          </section>
        </div>

        <button type="submit" class="btn-u btn-block">
          <i class="icon fa fa-download"></i>
          Download Free Report
        </button>
        <div class="progress"></div>

        <div class="message">
          <i class="rounded-x fa fa-check"></i>
          <p>Thanks for your order!<br>We'll contact you very soon.</p>
        </div>
      </form>
      -->

      {% include mautic_forms/generic_form.html %}

    </div>

    </div>
    <!-- End Content Info -->
  </div><!--/row-->

  <div class="margin-bottom-20 clearfix"></div>

</div><!--/container-->
<!--=== End Content Part ===-->
