<a name="home" id="home-section"></a>
<div class="big-home-image ag-background-primary">
  <div class="container">
    <h2>We solve complex <strong><u>System Integrations</u></strong> and <br/> applied <strong><u>Artificial Intelligence</u></strong> problems.</h2>
    <a class="btn-u">Share Your Problem</a>
  </div>
</div>

<div class="container content-sm" id="philosophy-section">

    <div class="headline-center-v2 headline-center-v2-dark">
      <h2>The Garage Philosophy</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>

  <div class="row">
    <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
      <img class="rounded-x" width="50%" src="/assets/img/animaticons/pencil/animat-pencil-color.gif"/>
      <h2 class="title-v3-md margin-bottom-10">We <strong>go in-depth</strong> to truly understand your problem and provide valuable insight and feedback.</h2>
    </div>
    <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
      <img class="rounded-x" width="50%" src="/assets/img/animaticons/diamond/animat-diamond-color.gif"/>
      <h2 class="title-v3-md margin-bottom-10">We <strong>work with</strong> API architects and product managers to build platforms that transform your business.</h2>
    </div>
    <div class="col-md-4 content-boxes-v6">
      <img class="rounded-x" width="50%" src="/assets/img/animaticons/line-chart/animat-linechart-color.gif"/>
      <h2 class="title-v3-md margin-bottom-10">We <strong>focus on productivity</strong> to give your business the flexibility it needs to be competative.</h2>
    </div>
  </div>
</div>
