<a name="home" id="home-section"></a>
<div class="big-home-image ag-background-primary">
  <div class="container">
    <h2>We solve complex <strong><u>System Integrations</u></strong> and <br/> applied <strong><u>Artificial Intelligence</u></strong> problems.</h2>
        <a class="btn-u btn-u-lg" target="_blank" 
          href="https://docs.google.com/a/apigarage.com/forms/d/e/1FAIpQLSeYPDBkWbj28WMH6W1pdKiXEnsHVi9u4HGjfjTf5L4sQmqQbQ/viewform?usp=sf_link">
          Share Your problems
        </a>
  </div>
</div>
