<div class="container content-sm" id="philosophy-section">
  <div class="headline-center-v2 headline-center-v2-dark">
    <h2>The Garage Philosophy</h2>
    <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
  </div>
  <div class="row">
    <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
      <!--<img class="rounded-x" width="50%" src="/assets/img/animaticons/pencil/animat-pencil-color.gif"/>-->
      <h2 class="title-v3-md margin-bottom-10">Don't Build It, Until You Need it.</h2>
      <p>We research your problem, and make sure it's totally worth solving the problem using technology. If there is perfectly matching off-the-shelf solution is available, we direct you in that direction.</p>
    </div>
    <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
      <!--<img class="rounded-x" width="50%" src="/assets/img/animaticons/diamond/animat-diamond-color.gif"/>-->
      <h2 class="title-v3-md margin-bottom-10">Your Problem Becomes our Problem.</h2>
      <p>We don't only put ourselves in your shoes, but walk a mile with it. That gives us full understanding of your problem, and allows us to prescrive best solution.</p>
    </div>
    <div class="col-md-4 content-boxes-v6">
      <!--<img class="rounded-x" width="50%" src="/assets/img/animaticons/line-chart/animat-linechart-color.gif"/>-->
      <h2 class="title-v3-md margin-bottom-10">Extensibility Over Scalability</h2>
      <p>We believe technology should foster business experiments and adapt new business requiements extremely fast. That's trully possible only with an extensible solution.</p>
    </div>
  </div>
</div>