<div class="bg-color-primary" id="service-section">

  <div class="container content-sm" id="process-section">
    <div class="headline-center-v2 headline-center-v2-dark">
      <h2>HOW WE WORK</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>

    <div class="row">
      <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
        <img class="rounded-x" width="50%" src="/assets/img/animaticons/pencil/animat-pencil-color.gif" />
        <h2 class="title-v3-md margin-bottom-10">We <strong>go in-depth</strong> to truly understand your problem and provide valuable insight and feedback.</h2>
      </div>
      <div class="col-md-4 content-boxes-v6 md-margin-bottom-50">
        <img class="rounded-x" width="50%" src="/assets/img/animaticons/diamond/animat-diamond-color.gif" />
        <h2 class="title-v3-md margin-bottom-10">We <strong>work with champions</strong> inside your company to build technology solution that transform your business.</h2>
      </div>
      <div class="col-md-4 content-boxes-v6">
        <img class="rounded-x" width="50%" src="/assets/img/animaticons/line-chart/animat-linechart-color.gif" />
        <h2 class="title-v3-md margin-bottom-10">We <strong>transfer knowledge</strong> and <strong>train</strong> your employees to set you up for a successful future.</h2>
      </div>
    </div>
  </div>

  </div>
<!-- 
Use something like http://codepen.io/semenchenko/pen/oxoqOW to improve the UI
-->