<!--=== Service Block
<a name="services" ></a>
<div class="bg-color-light" id="service-section">
  <div class="container">

    <div class="headline-center-v2 headline-center-v2-dark margin-bottom-50" >
      <h2>Our Services</h2>
      <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
    </div>

    <div class="row margin-bottom-60">
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-pencil"></i>
          <h3 class="title-v3-bg">API Design</h3>
          <p>
            Collaborative design is the foundation of a successful API program. We help you deliver an API specification that unifies your entire API delivery lifecycle.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x  icon-paper-plane"></i>
          <h3 class="title-v3-bg">API Implementation</h3>
          <p>
            APIs may not be a core competency on your dev team. No worries, focus on your business problems, and let our seasoned developers build out your API.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-wrench"></i>
          <h3 class="title-v3-bg">API Tooling</h3>
          <p>
            A whole ecosystem of tooling has grown up around API design, development, delivery, testing, and monitoring. We can help you evaluate, select, and integrate the proper tools for your needs.
          </p>
        </div>
      </div>
    </div>

    <div class="row margin-bottom-60">
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-badge"></i>
          <h3 class="title-v3-bg">API Evalution</h3>
          <p>
            How would your APIs fare against your competitors? Are your APIs up for the challenge? Our rating system can help you identify the gaps in your APIs and develop a plan to improve your APIs.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-graduation"></i>
          <h3 class="title-v3-bg">API Certification</h3>
          <p>
            Our 3-day API certification workshop helps your teams implement an API and make it work for your business.
          </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-block-v1 md-margin-bottom-50">
          <i class="rounded-x icon-graph"></i>
          <h3 class="title-v3-bg">API Strategy</h3>
          <p>
            An API platform strategy can radically transform your business. Using our experience across many organizations, we can develop an API strategy that aligns with your business goals.
          </p>
        </div>
      </div>
    </div><!--/row
  </div><!--/container
</div>
<!--=== End Service Block ===-->
