<div class="call-action-v1 bg-color-primary">
  <div class="container" id="share-problem">
    <div class="call-action-v1-box">
      <div class="call-action-v1-in">
        <h2>How can you adopt A.I., Innovate, and gain a competitive advantage?</h2>
      </div>
      <div class="call-action-v1-in inner-btn page-scroll">
        <a target="_blank" class="btn-u btn-u-lg"
          href="https://docs.google.com/a/apigarage.com/forms/d/e/1FAIpQLSeYPDBkWbj28WMH6W1pdKiXEnsHVi9u4HGjfjTf5L4sQmqQbQ/viewform?usp=sf_link" >
             <i class="fa fa-commenting-o"></i>
             Share Your A.I. Problem
        </a>
      </div>
    </div>
  </div>
</div>