<div class="bg-grey">
  <div class="container content-sm">
    <div class="text-center margin-bottom-50">
      <h2 class="title-v2 title-center">HOW INDUSTRY LEADERS ARE USING Artificial Intelligence?</h2>
      <p class="space-lg-hor">Leaders in every vertical have already started exploring and implementing Artificial Intelligence to achieve business
        objectives such as <span class="color-green">reduce cost, increase revenue, process optimization, customer lifecycle mapping, client engagement,
        and much more </span>. We keep ourselves up-to-date with the pulse of AI adoption and help our clients achieve the
        same with the goal of leading.
      </p>
    </div>

    <div class="row">
      <div class="col-sm-4 md-margin-bottom-40">
        <div class="thumbnails-v1">
          <h3><a href="#">Fintech</a></h3>
          <div class="thumbnail-img">
            <img class="img-responsive" src="assets/img/industries/fintech.jpg" alt="">
          </div>
          <div class="caption">
            <ul class="list-unstyled lists-v3">
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="https://techcrunch.com/2017/01/16/fraugster/">
                  Fraud Detection
                </a>
              </li>
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="https://www.financial-planning.com/news/ai-powered-robo-adviser-takes-aim-at-rich-clients">
                  Automated Fincial Planning 
                </a>
              </li>
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="http://www.canadianbusiness.com/investing/artificial-intelligence-due-diligence-risk-management/">
                  Risk Management
                </a>
              </li>
            </ul>
            <a class="btn-u btn-primary" target="_blank" 
              href="https://docs.google.com/a/apigarage.com/forms/d/e/1FAIpQLSfxle76Hy8a7r4QgxyUbMFf9i4bLWZCECAH4adnyUTEV90Z6Q/viewform">
              Get More Usecases
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 md-margin-bottom-40">
        <div class="thumbnails-v1">
          <h3><a href="#">HealthTech</a></h3>
          <div class="thumbnail-img">
            <img class="img-responsive" src="assets/img/industries/health.jpg" alt="">
          </div>
          <div class="caption">
            <ul class="list-unstyled lists-v3">
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="http://medicalfuturist.com/artificial-intell">
                  Preventative Care
                </a>
              </li>
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="http://news.stanford.edu/2017/01/25/artificial-intelligence-used-identify-skin-cancer/">
                  Disease Detection 
                </a>
              </li>
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="https://www.ai-therapy.com/">
                  Therapy Recommendations
                </a>
              </li>
            </ul>
            <a class="btn-u btn-primary" target="_blank" 
              href="https://docs.google.com/a/apigarage.com/forms/d/e/1FAIpQLSfxle76Hy8a7r4QgxyUbMFf9i4bLWZCECAH4adnyUTEV90Z6Q/viewform">
              Get More Usecases
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-4 md-margin-bottom-40">
        <div class="thumbnails-v1">
          <h3><a href="#">Ecommerce</a></h3>
          <div class="thumbnail-img">
            <img class="img-responsive" src="assets/img/industries/ecommerce.jpg" alt="">
          </div>
          <div class="caption">
            <ul class="list-unstyled lists-v3">
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="http://rejoiner.com/resources/amazon-recommendations-secret-selling-online">
                  Recommendation System 
                </a>
              </li>
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="https://aws.amazon.com/blogs/ai/predicting-customer-churn-with-amazon-machine-learning/">
                  Customer Churn Prediction 
                </a>
              </li>
              <li>
                <i class="fa fa-external-link"></i>
                <a target="_blank" href="http://www.mytotalretail.com/partner/partner-voices-using-artificial-intelligence-to-build-real-relationships//">
                  Customer Journey Mapping
                </a>
              </li>
            </ul>
            <a class="btn-u btn-primary" target="_blank" 
              href="https://docs.google.com/a/apigarage.com/forms/d/e/1FAIpQLSfxle76Hy8a7r4QgxyUbMFf9i4bLWZCECAH4adnyUTEV90Z6Q/viewform">
              Get More Usecases
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>